body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.registeration-text-box {
  background-color: #0a2a66;
  border-radius: 4px 0 0 4px;
  color: #FFFFFF;
  min-height:535px;
  margin-top: 2.75rem;
}

.registeration-form-field{
  min-height:535px;
  margin-top: 2.75rem;
  background-color:#c0c6cc;
  text-align: left;
}